z<div class='wrapper'>
    <div class='card'>
    <!-- <img class='card-img' src='https://source.unsplash.com/random/?bike,city,night'> -->
        <div class='card-title'>Велосипед взрослый super bike</div>
        <div class='card-sub'>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 A ea, voluptates numquam id dolorem.
        </div>
        <div class='card-sub'>
            Category - ofice-bike   
        </div>
        <div class='card-sub'>
            Status - (part-time, full-time, remote)
        </div>
        <div class='card-sub'>
            122 Likes
        </div>
        <div class='btn-keeper'>
            <a class='btn' href='#'>Engage</a>
        </div>
    </div>
    
</div>