<div class="wrapper">
  <div class="card">
    <div class="card-top">
      <div class="card-title">{{ ad.title }}</div>
      <img
        (click)="onClickLike()"
        src="assets/img/{{ isClickLike ? 'unlike.svg' : 'like.svg' }}"
        width="40px"
        alt="like"
      />
    </div>
    <div class="card-sub">
      {{ ad.description }}
    </div>
    <div class="card-sub">Category: {{ ad.category }}</div>
    <div class="card-sub">Type: {{ ad.type }}</div>
    <div class="card-sub">
      <strong>{{ ad.likes.length }} Likes</strong>
    </div>
    <div
      class="btn-keeper"
      *ngIf="this.authService.role === 'user' && !isEngage"
    >
      <a class="btn" (click)="onClickEngage()"> Engage </a>
    </div>
    <strong class="card-sub" *ngIf="isEngage"
      >You engage now,<br />Your status: {{ userStatus }}</strong
    >
  </div>
</div>
