<div class="wrapper">
  <div class="card">
    <!-- <img class='card-img' src='https://source.unsplash.com/random/?bike,city,night'> -->
    <div class="card-top">
      <div class="card-title">Велосипед взрослый super bike</div>
      <img
        (click)="onClickLike()"
        src="assets/img/{{ isClickLike ? 'unlike.svg' : 'like.svg' }}"
        width="40px"
        alt="wqdqw"
      />
    </div>
    <div class="card-sub">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ea, voluptates
      numquam id dolorem.
    </div>
    <div class="card-sub">Category - ofice-bike</div>
    <div class="card-sub">Status - (part-time, full-time, remote)</div>
    <div class="card-sub">
      <strong>{{ likes }} Likes</strong>
    </div>
    <div class="btn-keeper">
      <a class="btn" href="#">Engage</a>
    </div>
  </div>
</div>
