body {
  font-family: "Open Sans", sans-serif;
  background-color: #eee;
}

.card {
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 40px #434040;

  margin: auto;
  margin-top: 50px;
}

.card-top {
  margin: 0 auto;
  display: flex;
  align-items: center;
  .editAd {
    position: absolute;
    left: 15px;
  }
  .deleteAd {
    position: absolute;
    right: 15px;
  }
  img {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    &:hover {
      transform: translateY(-7px);
    }
  }
}

.card-img {
  border-radius: 11px;
}

.card-title {
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  font-weight: 500;
}

.card-sub {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.btn-keeper {
  margin-top: 20px;
  text-align: center;
}

.btn {
  background-color: #846a6a;
  padding: 7px 12px;
  text-decoration: none;
  color: #eee;
  border-radius: 5px;
  transition: background-color 0.5s linear;
}

.btn:hover {
  background-color: #0ac400;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-radio {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
