<div class="wrapper">
  <div class="card" *ngIf="!isDeleted">
    <div class="card-top">
      <img
        class="editAd"
        width="30px"
        src="assets/img/pencil.png"
        alt="edit"
        (click)="onClickOpenModal()"
      />
      <div class="card-title">{{ ad.title }}</div>
      <img
        class="deleteAd"
        (click)="deleteAd()"
        src="assets/img/trash-solid.svg"
        width="30px"
        alt="delete"
      />
    </div>
    <div class="card-sub">{{ ad.description }}</div>
    <div class="card-sub">Category: {{ ad.category }}</div>
    <div class="card-sub">Type: {{ ad.type }}</div>
    <div class="card-sub">
      <strong>Likes {{ ad.likes.length }}</strong>
    </div>
    <button
      *ngIf="!isOpenAppliedUsers && ad.appliedUsers.length"
      (click)="onClickAppliedUsers()"
      type="button"
      class="btn btn-primary"
      style="width: 30%; margin: 0px auto"
    >
      Applied Users
    </button>
    <div *ngIf="isOpenAppliedUsers" class="candidates-users">
      <h1>Candidates</h1>
      <div *ngFor="let user of this.ad.appliedUsers">
        <div>
          <h4>User id: {{ user.id }}</h4>
          <h4>Status: {{ user.status }}</h4>
        </div>
        <div class="flex-between buttons">
          <button
            *ngIf="user.status !== 'Confirmed'"
            (click)="acceptCandidate(user.id)"
            class="btn confirm"
          >
            Confirm Candidate
          </button>
          <button
            *ngIf="user.status !== 'Rejected'"
            (click)="rejectCandidate(user.id)"
            class="btn reject"
          >
            Rejected Candidate
          </button>
        </div>
        <hr />
      </div>
      <button
        (click)="onClickAppliedUsers()"
        type="button"
        class="btn btn-primary"
        style="width: 30%; position: relative; left: 35%"
      >
        Hide Information
      </button>
    </div>
  </div>
  <div class="card" *ngIf="isDeleted">Deleted</div>
</div>

<div *ngIf="isOpenModal" id="myModal" class="modal">
  <div class="modal-content">
    <span (click)="onClickOpenModal()" class="close">&times;</span>
    <form [formGroup]="editForm">
      <!-- Title -->
      <div class="form-outline form-white mb-4">
        <input
          formControlName="title"
          type="text"
          class="form-control form-control-lg"
        />
        <label class="form-label">Title</label>
      </div>
      <!-- Description -->
      <div class="form-outline form-white mb-4">
        <input
          formControlName="description"
          type="text"
          class="form-control form-control-lg"
        />
        <label class="form-label">Description</label>
      </div>
      <!-- Type -->
      <div class="form-outline form-white mb-4 form-radio">
        <label class="radio-inline">
          <input
            type="radio"
            value="remote"
            name="type"
            formControlName="type"
          />
          Remote
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            value="part-time"
            name="type"
            formControlName="type"
          />
          Part time
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            value="full-time"
            name="type"
            formControlName="type"
          />
          Full time
        </label>
      </div>
      <!-- Category -->
      <div class="form-outline form-white mb-4 form-radio">
        <label class="radio-inline">
          <input
            type="radio"
            value="Office administration"
            name="category"
            formControlName="category"
          />
          Office administration
        </label>
        <label class="radio-inline">
          <input
            type="radio"
            value="Development"
            name="category"
            formControlName="category"
          />
          Development
        </label>
      </div>
      <!-- Submit -->
      <button
        (click)="editAd()"
        class="btn btn-outline-dark btn-lg px-5"
        type="submit"
      >
        Edit
      </button>
    </form>
  </div>
</div>
